/* You can add global styles to this file, and also import other style files */
#wrapper{margin-top:80px;}

.marginTop20{margin-top: 20px;}

    .ng-valid[required], .ng-valid.required  {
      border-left: 5px solid #42A948; /* green */
    }
    .ng-invalid:not(form)  {
      border-left: 5px solid #a94442; /* red */
    }